body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* header */
header {
    background: #0067A3;
    height: 55px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-image {
    margin-left: 14px;
}
.logo-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: 8px;
}
.element-group {
    width: 294px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.new-list {
    width: 181px;
    height: 33px;     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.new-list-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 13px;
}
.user-menu {
    display: flex;
    flex-direction: column;
    position: relative;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.avatar {
    border-radius: 20px;
    background: #FFFFFF;
}
.new-list-image {
    margin-left: 9px;
}
/* footer */
footer {
    background: #0067A3;
    flex: 1;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
}
.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.task-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 333px;
    margin-left: 67px;
}
.author {
    margin-right: 24px;
}