.new-list {
    width: 181px;
    height: 33px;     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px;
    border: 0px
}
.new-list-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 13px;
}
.new-list-image {
    margin-left: 9px;
}