#div1 {
    border: 1px solid black;
    margin: 10px;
}
#div2 {
    outline: 1px solid yellow;
    margin: 10px;
}
#div3 {
    box-shadow: 1px 1px 1px 1px red;
    margin: 10px;
}
#div41 {
    background-color: blue;
    margin: 10px;
    height: 30px;
}
#div42 {
    margin: 5px;
    background-color: white;
    position: relative;
    top: 5px;
}
#div51 {
    background-color: brown;
    padding: 10px;
    height: 30px;
}
#div52 {
    padding: 5px;
    background-color: white;
    position: relative;
    top: 5px
}