@import "../styles.default/text.css";
@import "../styles.default/button.css";
@import "header/header.css";
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}